{% extends "govuk/template.njk" %}

{% set govukRebrand = true %}

{% from "logo.njk" import govukLogo %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
GOV.GR - Ψηφιακές Υπηρεσίες
{% endblock %}

{% block head %}
<link href="/assets/app.css" rel="stylesheet">
<style>
  .hero-banner {
    width: 100%;
    background-color: #1d70b8;
    padding: 40px 0 60px 0;
  }
  
  .hero-banner h1,
  .hero-banner .govuk-label {
    color: white;
  }
</style>
{% endblock %}

{% block header %}
<header class="govuk-header" role="banner" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container">
        <div class="govuk-header__logo">
            <a href="https://gov.gr" class="govuk-header__homepage-link">
                {{ govukLogo({
                ariaLabelText: "GOV.GR",
                useLogotype: true
                }) }}
            </a>
        </div>
    </div>
</header>

{% if showHeroBanner %}
  <div class="hero-banner">
    <div class="govuk-width-container">
      {% block heroBanner %}{% endblock %}
    </div>
  </div>
{% endif %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
{{ govukFooter({}) }}
{% endblock %}
